/* fonts */
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("/fonts/HelveticaNeue-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("/fonts/HelveticaNeue-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "HelveticaNeue";
    font-size: 16px;
    line-height: 1.5;
}
header {
    width: 100%;
    position: fixed;
    font-family: "HelveticaNeue-Light";
    color: #740c10;
}
.header-background {
    position: relative;
    background-image: url("src/assets/images/header2.webp");
    background-size: cover;
    background-position: 0% 15%;
    background-repeat: no-repeat;
}
.header-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 1rem 2rem;
    margin: 0 auto;
    z-index: 1; /* Above the overlay */
}
.titulo {
    padding-top: 30px;
}
.titulo > .descripcion {
    padding-left: 55px;
    font-size: 36Q;
}
.nav-links {
    margin-top: 60px;
    font-size: 30px;
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.nav-links li {
    margin-left: 50px;
}
