/* fonts */
@font-face {
    font-family: "HelveticaNeue";
    src: url("/fonts/HelveticaNeue.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("/fonts/HelveticaNeue-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("/fonts/HelveticaNeue-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
:root {
    --header-height: 100px;
    --color-primary: #740c10;
    --color-secondary: #ff0000;
    --color-tertiary: #d1d3d4;
}
main {
    flex: 1 0 auto;
    /* Remove any margin/padding that might affect the header */
    margin-top: 0;
    padding-top: 0;
}
body {
    font-family: "HelveticaNeue-Light";
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fffdfa;
}
header {
    position: fixed;
    width: 100%;
    height: var(--header-height);
}
.header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-right: 60px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
}
nav li {
    position: relative;
}
nav a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: 1.5rem;
    transition: color 0.3s ease;
    padding: 0.5rem 0;
}
nav a:hover,
nav a.active {
    color: var(--color-secondary);
}
nav a:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: width 0.3s ease;
}
nav a:hover:after,
nav a.active:after {
    width: 100%;
}
.hero {
    margin-top: var(
        --header-height,
        80px
    ); /* This pushes the hero below the header */
    min-height: calc(
        100vh - var(--header-height, 80px)
    ); /* This makes it fill the remaining viewport */
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.hero-content {
    font-size: 2rem;
    font-family: "HelveticaNeue-Light";
}
