---
import Base from "../layouts/Base.astro";
import Header from "../components/Header.astro";

const { title = "Evolvente", subtitle = "Estudio independiente de arquitectura y diseño" } =
    Astro.props;

import { Image } from "astro:assets";
import aboutImage from "../assets/images/background.webp";
---

<Base>
    <!-- About Page Structure -->
    <Image src={aboutImage} alt="" class="about-image" />
    <section class="about">
        <div class="about-content">
            <div class="about-text">
                <h3>Experiencia</h3>
                <ul>
                    <li>
                        Más de 40 años de experiencia en el diseño integro y construcción de
                        edificios <br /> espacios públicos.
                    </li>
                    <li>Mas de 200 proyectos realizados a traves del estado de Baja California.</li>
                </ul>
            </div>
            <div class="about-text">Two</div>
            <div class="about-text">Three</div>
            <div class="about-text">Four</div>
        </div>
    </section>

    <!-- CSS Structure -->
    <style>
        .about-content {
            padding: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            font-size: 1.25rem;
        }
        .about-image {
            width: 100%;
            height: 300px; /* fixed height for the container */
            object-fit: cover; /* crops the image while maintaining aspect ratio */
            object-position: center; /* controls which part of the image to show */
        }
        /* Responsive Design */
        @media (max-width: 768px) {
            .about-container {
                flex-direction: column;
            }
        }
        li {
            list-style-type: "-";
            line-height: 1.5;
        }

        /* Add additional styling as needed */
    </style>
</Base>
