---
const tipografiaImagen = "/tipografia_cropped.png";

const navItems = [
    { name: "Estudio", url: "/about" },
    { name: "Proyectos", url: "/projects" },
    { name: "Contacto", url: "/contact" },
];
const currentPath = Astro.url.pathname;
---

<header>
    <div class="header-container">
        <div class="tipografia">
            <a href="index.html">
                <img src={tipografiaImagen} alt="Tipografía Evolvente Arquitectura" width={300} />
            </a>
        </div>
        <nav class="header-nav">
            <ul>
                {
                    navItems.map((item) => (
                        <li>
                            <a
                                href={item.url}
                                class={currentPath.startsWith(item.url) ? "active" : ""}
                            >
                                {item.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        position: fixed;
        width: 100%;
        height: var(--header-height);
    }
    .header-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        margin-right: 60px;
    }
    nav ul {
        display: flex;
        list-style: none;
        gap: 3rem;
        margin: 0;
        padding: 0;
    }
    nav li {
        position: relative;
    }
    nav a {
        text-decoration: none;
        color: var(--color-primary);
        font-size: 2rem;
        transition: color 0.3s ease;
        padding: 0.5rem 0;
    }
    nav a:hover,
    nav a.active {
        color: var(--color-secondary);
    }
    nav a:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 2px;
        background-color: var(--color-secondary);
        transition: width 0.3s ease;
    }
    nav a:hover:after,
    nav a.active:after {
        width: 100%;
    }
</style>
