---
const tipoImagen = "/tipografia_cropped.png";

const navItems = [
    { name: "Estudio", url: "/about" },
    { name: "Proyectos", url: "/projects" },
    { name: "Contacto", url: "/contact" },
];
const currentPath = Astro.url.pathname;
---

<header>
    <div class="header-container">
        <div class="tipografia">
            <a href="index.html">
                <img
                    src={tipoImagen}
                    alt="Tipografía Evolvente Arquitectura"
                    width={300}
                />
            </a>
        </div>
        <nav class="header-nav">
            <ul>
                {
                    navItems.map((item) => (
                        <li>
                            <a
                                href={item.url}
                                class={
                                    currentPath.startsWith(item.url)
                                        ? "active"
                                        : ""
                                }
                            >
                                {item.name}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>
