---
const {
    title = "Evolvente",
    subtitle = "Estudio independiente de arquitectura y diseño",
} = Astro.props;

import { getImage } from "astro:assets";
import backgroundImage from "../assets/images/building.jpg";
const optimizedBackground = await getImage({
    src: backgroundImage,
    format: "webp", // Convert to WebP for better compression
    quality: 80, // Adjust quality as needed
    width: 1920, // Resize to appropriate width
});
---

<section
    class="hero"
    style={`background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)), url(${optimizedBackground.src}); background-position: `}
>
    <div class="hero-content">
        <img
            src="public/isotipo.png"
            alt="Logotipo Evolvente Arquitectura"
            width="200px"
        />
        <div class="hero-text">
            <h1>{subtitle}</h1>
        </div>
    </div>
</section>
